client_id = "fc65f31c5c9fdd475c8076b2518122da"
name = "Section-addict"
application_url = "https://wan-unions-ingredients-detector.trycloudflare.com"
embedded = true

[webhooks]
api_version = "2025-10"

[[webhooks.subscriptions]]
topics = ["app/uninstalled"]
uri = "/webhooks/app/uninstalled"

[[webhooks.subscriptions]]
topics = ["app/scopes_update"]
uri = "/webhooks/app/scopes_update"

[access_scopes]
scopes = "read_themes,write_products,write_themes"

[auth]
redirect_urls = ["https://wan-unions-ingredients-detector.trycloudflare.com/auth"]

[pos]
embedded = true

[build]
automatically_update_urls_on_dev = true
